/*import*/
/*parametros*/
/* reset de css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

/*body*/
body {
  background-color: rgb(9, 18, 44);
  color: whitesmoke;
}

/*header*/
header .nav-bg {
  background-color: rgb(135, 35, 65);
}
header .nav-bg .header-logo {
  width: 10vw;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .main__img {
  width: 70vw;
  height: 100vh;
  margin: 10px;
}
main .contenedor-img-hombre-mujer {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
main .contenedor-img-hombre-mujer .main__img-men-women {
  height: 80vh;
  width: 45vw;
}
main .main__accesorios-novedades {
  width: 100%;
  padding: 30px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(135, 35, 65);
  justify-items: center;
}
main .main__accesorios-novedades .main__accesorios-novedades-p {
  color: rgb(9, 18, 44);
  font-size: 100px;
  justify-self: center;
}
main .main__accesorios-novedades .accesorios-novedades__img {
  height: 200px;
  border-radius: 50px;
  margin: 40px;
}

footer {
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
  text-align: center;
}
footer .msg-title {
  color: whitesmoke;
}
footer .footer__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer .footer__form .footer__label {
  color: whitesmoke;
}
footer .footer__form .footer__input {
  width: 400px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
}
footer .footer__form .btn-enviar {
  background-color: rgb(135, 35, 65);
  width: 15vw;
}
footer .derechos {
  background-color: rgb(9, 18, 44);
  padding: 10px;
  text-align: center;
}
footer .derechos .derechos__text {
  font-family: cursive;
  font-size: 20px;
}
footer .footer__h3-location {
  color: whitesmoke;
  font-size: 50px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer .footer__map {
  align-self: center;
  padding: 10px;
}
footer .footer__img-logo {
  width: 50%;
  align-self: center;
  padding-top: 100px;
}

.menu-lateral {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  position: fixed;
  left: 7px;
  bottom: 200px;
  margin: 5px;
}
.menu-lateral .menu-lateral-logo {
  width: 50px;
  padding: 5px;
}

/*index end*/
/*about us*/
.contenedor-ab-us {
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-items: center;
}
.contenedor-ab-us .title-principal-ab-us, .contenedor-ab-us .title-secundario-ab-us {
  text-decoration: underline;
  text-align: center;
  color: whitesmoke;
}
.contenedor-ab-us .title-principal-ab-us {
  padding: 30px;
}
.contenedor-ab-us div .title-secundario-ab-us {
  padding-top: 40px;
}
.contenedor-ab-us div .ab-us-contenedor-p {
  border-radius: 10px;
  width: 50vw;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 5px;
  margin-top: 5px;
  background-color: rgb(135, 35, 65);
  color: whitesmoke;
}
.contenedor-ab-us div .ab-us-contenedor-p .ab-us-p {
  text-align: center;
}

/*about us ends*/
/*contact us*/
.title-contact-us {
  text-align: center;
  color: whitesmoke;
}

.footer__label {
  color: whitesmoke;
}

section .title-contact-us {
  margin-top: 3%;
  margin-bottom: 3%;
}
section div {
  align-items: center;
  justify-content: center;
}
section .footer__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
section .footer__form .footer__label {
  text-align: center;
}
section .footer__form .footer__input {
  width: 30vw;
  border-radius: 15px;
  margin-bottom: 1%;
}
section .footer__form .btn-enviar {
  background-color: rgb(135, 35, 65);
  width: 23vw;
  padding: 5px;
}

/*contact us ends*/
/*men*/
.title-men-women {
  text-align: center;
  color: whitesmoke;
  margin-top: 20px;
  text-decoration: underline;
}

.main__men {
  height: 100vh;
}
.main__men .box-de-ropa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 70px;
  row-gap: 30px;
  justify-content: space-between;
  align-content: center;
}
.main__men .card {
  padding: 5px;
  margin: 10px;
  width: 15vw;
  height: 46vh;
  background-color: rgb(135, 35, 65);
  color: whitesmoke;
  text-align: center;
  border: 2px solid rgb(9, 18, 44);
  border-radius: 5%;
}
.main__men .card .contenedor-btn-compra {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.main__men .card .contenedor-btn-compra .precio {
  color: whitesmoke;
  margin-top: 15px;
}

.button-comprar, .button-eliminar {
  background-color: rgb(9, 18, 44);
  border-radius: 15px;
  color: whitesmoke;
  width: 8vw;
  padding: 5px;
  margin-top: 6px;
}

aside .main__accesorios-novedades {
  width: 100%;
  padding: 30px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(135, 35, 65);
  justify-items: center;
}
aside .main__accesorios-novedades .main__accesorios-novedades-p {
  color: rgb(9, 18, 44);
  font-size: 100px;
  justify-self: center;
}
aside .main__accesorios-novedades .accesorios-novedades__img {
  height: 200px;
  border-radius: 50px;
  margin: 40px;
}

/*shopping cart*/
.title-shopp-cart {
  text-align: center;
  color: whitesmoke;
  margin-top: 50px;
  margin-bottom: 30px;
}

.conteiner-card {
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
.conteiner-card .conteiner-card-shopp-cart {
  border: 2px solid rgb(9, 18, 44);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 30vw;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: whitesmoke;
  color: rgb(9, 18, 44);
}
.conteiner-card .conteiner-card-shopp-cart .conteiner-card-shopp-cart-img-box {
  height: vh;
}
.conteiner-card .conteiner-card-shopp-cart .conteiner-card-shopp-cart-img-box .conteiner-card-shopp-cart-img {
  width: 10vw;
}
.conteiner-card .conteiner-card-shopp-cart .conteiner-card-shopp-cart-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.contenedor-botones-comp-vac {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.boton-vaciar-shopp-cart, .boton-comprar-shopp-cart, .boton-seg-compr-shopp-cart {
  background-color: rgb(135, 35, 65);
  color: whitesmoke;
  padding: 10px;
  width: 20vw;
}

.title {
  text-decoration: underline;
  color: whitesmoke;
}

/*media queries*/
@media screen and (max-width: 760px) {
  /*body*/
  body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin-left: 10px;
  }
  /*index*/
  header nav {
    margin: 10px;
  }
  header nav img {
    width: 30%;
  }
  main .contenedor-img-hombre-mujer {
    flex-direction: column;
    width: 100vw;
    height: 110vh;
    justify-content: center;
    align-items: center;
  }
  main .contenedor-img-hombre-mujer .main__img-men-women {
    width: 100vw;
    height: 50vh;
    margin: 10px;
  }
  /*main accesorios y novedades*/
  main .main__accesorios-novedades {
    height: 23vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin-right: 10px;
  }
  main .main__accesorios-novedades .img-uno, main .main__accesorios-novedades .img-dos {
    border-radius: 15%;
    width: 28vw;
    height: 28vh;
  }
  main .main__accesorios-novedades .img-cuatro, main .main__accesorios-novedades .img-tres {
    display: none;
  }
  main .main__accesorios-novedades .accesorios-novedades__img {
    height: 100px;
  }
  main .main__accesorios-novedades .main__accesorios-novedades-p {
    display: none;
  }
  aside .main__accesorios-novedades {
    height: 23vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin-right: 10px;
  }
  aside .main__accesorios-novedades .img-uno, aside .main__accesorios-novedades .img-dos {
    border-radius: 15%;
    width: 28vw;
    height: 28vh;
  }
  aside .main__accesorios-novedades .img-cuatro, aside .main__accesorios-novedades .img-tres {
    display: none;
  }
  aside .main__accesorios-novedades .accesorios-novedades__img {
    height: 100px;
  }
  aside .main__accesorios-novedades .main__accesorios-novedades-p {
    display: none;
  }
  footer .footer__form .footer__input {
    width: 80%;
  }
  .map {
    width: 80vw;
    height: 50vh;
  }
  /*men/women*/
  .title-men-women {
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .main__men .box-de-ropa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    gap: 5px;
  }
  .main__men .box-de-ropa .card {
    width: 40vw;
    height: 30vh;
    background-color: rgb(135, 35, 65);
    color: whitesmoke;
  }
  .main__men .box-de-ropa .card .subtitle-box, .main__men .box-de-ropa .card .box-p {
    display: none;
  }
  .main__men .box-de-ropa .card .contenedor-btn-compra {
    text-align: center;
    align-items: center;
  }
  .main__men .box-de-ropa .card .contenedor-btn-compra .button-comprar {
    display: none;
    text-align: center;
  }
  /*shopping cart*/
  .conteiner-card {
    display: flex;
    flex-direction: column;
  }
  .conteiner-card .conteiner-card-shopp-cart {
    width: 100vw;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    margin-right: 20px;
  }
  .conteiner-card .conteiner-card-shopp-cart .conteiner-card-shopp-cart-img-box .conteiner-card-shopp-cart-img {
    width: 30vw;
  }
  .conteiner-card .conteiner-card-shopp-cart .conteiner-card-shopp-cart-text .button-eliminar {
    width: 30vw;
  }
  .boton-comprar-shopp-cart, .boton-vaciar-shopp-cart, .boton-seg-compr-shopp-cart {
    width: 80vw;
  }
  /*about us*/
  .ab-us-img {
    width: 70vw;
  }
  .contenedor-ab-us div .ab-us-contenedor-p {
    width: 70vw;
  }
  /*contact us*/
  section .div-footer .footer__form .footer__input {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    justify-content: space-between;
  }
  /*main accesorios*/
  main .main__accesorios-novedades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  main .main__accesorios-novedades .main__accesorios-novedades-p {
    display: none;
  }
  aside .main__accesorios-novedades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  aside .main__accesorios-novedades .main__accesorios-novedades-p {
    display: none;
  }
  /*men women*/
  .title-men-women {
    text-decoration: underline;
  }
  .main__men {
    height: 140vh;
  }
  .main__men .box-de-ropa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .main__men .box-de-ropa .card {
    height: 38vh;
    width: 40vw;
  }
  .main__men .box-de-ropa .card .contenedor-btn-compra .button-comprar {
    width: 20vw;
    height: 3vh;
  }
  /*shopping cart*/
  .conteiner-card {
    display: flex;
    flex-direction: column;
  }
  .conteiner-card .conteiner-card-shopp-cart {
    width: 80vw;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    margin-right: 20px;
  }
  .conteiner-card .conteiner-card-shopp-cart .conteiner-card-shopp-cart-img-box .conteiner-card-shopp-cart-img {
    width: 30vw;
  }
  .conteiner-card .conteiner-card-shopp-cart .conteiner-card-shopp-cart-text a .button-eliminar {
    width: 30vw;
  }
  .boton-comprar-shopp-cart, .boton-vaciar-shopp-cart, .boton-seg-compr-shopp-cart {
    width: 50vw;
  }
  /*about us*/
  .ab-us-contenedor-p {
    width: 80vw;
  }
  /*contact us*/
  section .title-contact-us {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  section .div-footer .footer__form .footer__input {
    width: 50vw;
    margin-bottom: 3%;
  }
}
@media only screen and (min-width: 1200px) {
  .main__accesorios-novedades {
    justify-self: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  .main__accesorios-novedades .main__accesorios-novedades-p {
    display: inline;
  }
  .main__accesorios-novedades .accesorios-novedades__img {
    width: 170px;
    height: 170px;
  }
  .main__accesorios-novedades .img-cuatro {
    display: none;
  }
  .footer__input {
    width: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
