/*import*/
/*parametros*/
/* reset de css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

/*body*/
body {
  background-color: rgb(9, 18, 44);
  color: whitesmoke;
}

/*header*/
header .nav-bg {
  background-color: rgb(135, 35, 65);
}
header .nav-bg .header-logo {
  width: 10vw;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .main__img {
  width: 70vw;
  height: 100vh;
  margin: 10px;
}
main .contenedor-img-hombre-mujer {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
main .contenedor-img-hombre-mujer .main__img-men-women {
  height: 80vh;
  width: 45vw;
}
main .main__accesorios-novedades {
  width: 100%;
  padding: 30px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(135, 35, 65);
  justify-items: center;
}
main .main__accesorios-novedades .main__accesorios-novedades-p {
  color: rgb(9, 18, 44);
  font-size: 100px;
  justify-self: center;
}
main .main__accesorios-novedades .accesorios-novedades__img {
  height: 200px;
  border-radius: 50px;
  margin: 40px;
}

footer {
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
  text-align: center;
}
footer .msg-title {
  color: whitesmoke;
}
footer .footer__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer .footer__form .footer__label {
  color: whitesmoke;
}
footer .footer__form .footer__input {
  width: 400px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
}
footer .derechos {
  background-color: rgb(9, 18, 44);
  padding: 10px;
  text-align: center;
}
footer .derechos .derechos__text {
  font-family: cursive;
  font-size: 20px;
}
footer .footer__h3-location {
  color: whitesmoke;
  font-size: 50px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer .footer__map {
  align-self: center;
  padding: 10px;
}
footer .footer__img-logo {
  width: 50%;
  align-self: center;
  padding-top: 100px;
}

.menu-lateral {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  position: fixed;
  left: 7px;
  bottom: 200px;
  margin: 5px;
}
.menu-lateral .menu-lateral-logo {
  width: 50px;
  padding: 5px;
}

/*index end*/
/*about us*/
.contenedor-ab-us {
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-items: center;
}
.contenedor-ab-us .title-principal-ab-us, .contenedor-ab-us .title-secundario-ab-us {
  text-decoration: underline;
  text-align: center;
  color: whitesmoke;
}
.contenedor-ab-us .title-principal-ab-us {
  padding: 30px;
}
.contenedor-ab-us div .title-secundario-ab-us {
  padding-top: 40px;
}
.contenedor-ab-us div .ab-us-contenedor-p {
  border-radius: 10px;
  width: 50vw;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 5px;
  margin-top: 5px;
  background-color: rgb(135, 35, 65);
  color: whitesmoke;
}
.contenedor-ab-us div .ab-us-contenedor-p .ab-us-p {
  text-align: center;
}

/*about us ends*/
/*contact us*/
.title-contact-us {
  text-align: center;
  color: whitesmoke;
}

.footer__label {
  color: whitesmoke;
}

/*contact us ends*/
/*men*/
.title-men-women {
  text-align: center;
  color: whitesmoke;
  margin-top: 20px;
  text-decoration: underline;
}

.main__men {
  height: 100vh;
}
.main__men .box-de-ropa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 70px;
  row-gap: 30px;
  justify-content: space-between;
  align-content: center;
}
.main__men .card {
  padding: 5px;
  margin: 10px;
  width: 15vw;
  height: 46vh;
  background-color: rgb(135, 35, 65);
  color: whitesmoke;
  text-align: center;
  border: 2px solid black;
  border-radius: 5%;
}

/*# sourceMappingURL=style.css.map */
