/*import*/
@import "utilidades/variables";
@import "utilidades/listas";
@import "utilidades/mixin";


/* reset de css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}
/*body*/
body{
    background-color: $primary-color;
    color: $font-color1;
}
/*header*/
header{
    .nav-bg{
        background-color: $secondary-color;
        .header-logo{
            width: 10vw;
        }
    }
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .main__img{
        @include medidas(50vw,70vh);
        margin: 10px;
    }
    .contenedor-img-hombre-mujer{
        @include medidas(100vw, 80vh);
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 10px;
        align-items: center;
        justify-content: center;
        .main__img-men-women{
            height: 80vh;
            width: 45vw;        
        }
    }
    .main__accesorios-novedades{
        width: 100%;
        padding: 3%;
        margin: 2%;
        border-radius: 20px;
        background-color: $secondary-color;
        justify-content: center;
        .main__accesorios-novedades-p{
            color: $primary-color;
            font-size: 400%;
            justify-self: center;
        }
        .accesorios-novedades__img{
            height: 200px;
            border-radius: 50px;
            margin: 40px;
        }
    }
}
footer{
    background-color: $third-color;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
    text-align: center;
    .msg-title{
        color: $font-color1;
    }
    .footer__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .footer__label{
            color: $font-color1;
        }
        .footer__input{
            @include medidas(400px,50px);
            margin: 10px;
            border-radius: 10px;
        }
        .btn-enviar{
            background-color: $secondary-color;
            width: 15vw;
        }
    }
    .derechos{
        background-color: $primary-color;
        padding: 10px;
        text-align: center;
        .derechos__text{
            font-family: cursive;
            font-size: 20px;
        }
    }
    .footer__h3-location{
        color: $font-color1;
        font-size: 50px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer__map{
        align-self: center;
        padding: 10px;
    }
    .footer__img-logo{
        width: 50%;
        align-self: center;
        padding-top: 100px;
    }
}

.menu-lateral{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    position: fixed;
    left: 7px;
    bottom: 200px;
    margin: 5px;
    .menu-lateral-logo{
        width: 50px;
        padding: 5px;
    }
}
/*index end*/

/*about us*/
.contenedor-ab-us{
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    .title-principal-ab-us, .title-secundario-ab-us{
        text-decoration: underline;
        text-align: center;
        color: $font-color1;
    }
    .title-principal-ab-us{
        padding: 30px;
    }
    div .title-secundario-ab-us{
        padding-top: 40px;
    }
    div .ab-us-contenedor-p{
        border-radius: 10px;
        width: 50vw;
        align-items: center;
        justify-content: center;
        margin: 30px;
        padding: 5px;
        margin-top: 5px;
        background-color: $secondary-color;
        color: $font-color1;
        .ab-us-p{
            text-align: center;
        }
    }
}
/*about us ends*/

/*contact us*/
.title-contact-us{
    text-align: center;
    color: $font-color1;
}

.footer__label{
    color: $font-color1;
}

section{
    .title-contact-us{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    div{
        align-items: center;
        justify-content: center;
    }
    .footer__form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        .footer__label{
            text-align: center;
        }
        .footer__input{
            width: 30vw;
            border-radius: 15px;
            margin-bottom: 1%;
        }
        .btn-enviar{
            background-color: $secondary-color;
            width: 23vw;
            padding: 5px;
        }
    }
}

/*contact us ends*/

/*men women*/
.title-men-women{
    text-align: center;
    color: $font-color1;
    margin-top: 20px;
    text-decoration: underline;
}
.main__men{
    height: 100vh;
    .box-de-ropa{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 70px;
        row-gap: 30px;
        justify-content: space-between;
        align-content: center;
    }
    .card{
        padding: 5px;
        margin: 10px;
        width: 15vw;  
        background-color: $secondary-color;
        color: $font-color1;    
        text-align: center;    
        border: 2px solid $primary-color;
        border-radius: 5%;
        .contenedor-btn-compra{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            .precio{
                color:$font-color1;
                margin-top: 15px;
            }
        }
        .button-next-prev:hover{
            background-color: black;
        }
    }
}
.button-comprar, .button-eliminar{
    background-color: $primary-color;
    border-radius: 15px;
    color: $font-color1;
    width: 8vw;
    padding: 5px;
    margin-top: 6px;
}

aside{
    .main__accesorios-novedades{
        width: 100%;
        padding: 30px;
        margin: 10px;
        border-radius: 20px;
        background-color: $secondary-color;
        justify-items: center;
        .main__accesorios-novedades-p{
            color: $primary-color;
            font-size: 100px;
            justify-self: center;
        }
        .accesorios-novedades__img{
            height: 200px;
            border-radius: 50px;
            margin: 40px;
        }
    }
}

/*shopping cart*/
.title-shopp-cart{
    text-align: center;
    color: $font-color1;
    margin-top: 50px;
    margin-bottom: 30px;
}
.conteiner-card{
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    .conteiner-card-shopp-cart{
        border: 2px solid $primary-color;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        height: 30vh;
        width: 30vw;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        background-color: $font-color1;
        color: rgb(9, 18, 44);
        .conteiner-card-shopp-cart-img-box{
            height: vh;
            .conteiner-card-shopp-cart-img{
                width: 10vw;
            }
        }
        .conteiner-card-shopp-cart-text{
            display: flex;
            flex-direction: column;
            padding: 10px;
            align-items: center;
            justify-content: space-between;
            text-align: center;
        }
    }
}
.contenedor-botones-comp-vac{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.boton-vaciar-shopp-cart, .boton-comprar-shopp-cart, .boton-seg-compr-shopp-cart{
    background-color: $secondary-color;
    color: $font-color1;
    padding: 10px;
    width: 20vw;
}
.title{
    text-decoration: underline;
    color: $font-color1;
}



/*media queries*/

@media screen and (max-width:760px) {
    /*body*/
    body{
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        margin-left: 10px;
    }

    /*index*/
    header{
        nav{
            margin: 10px;
            img{
                width: 30%;
            }
        }
    }
    header{
        .nav-bg{
            background-color: $secondary-color;
            .header-logo{
                width: 20vw;
            }
        }
    }
    
    main{
        .contenedor-img-principal{
            .main__img{
                width: 70vw;
                height: 50%;
            }
        }
        .contenedor-img-hombre-mujer{
            flex-direction: column;
            width: 100vw;
            height: 110vh;
            justify-content: center;
            align-items: center;
            .main__img-men-women{
                width: 100vw;
                height: 50vh;
                margin: 10px;
            }
        }
    }
    /*main accesorios y novedades*/
    main{
        .main__accesorios-novedades{
            height: 23vh;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            padding: 0; 
            margin-right: 10px;
            .img-uno, .img-dos{
                border-radius: 15%;
                width: 28vw;
                height: 28vh;
            }
            .img-cuatro, .img-tres{
                display: none;
            }
            .accesorios-novedades__img{
                height: 100px
            }
        
            .main__accesorios-novedades-p{
                display: none;
            }
        }
    }
    aside{
        .main__accesorios-novedades{
            height: 23vh;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            padding: 0; 
            margin-right: 10px;
            .img-uno, .img-dos{
                border-radius: 15%;
                width: 28vw;
                height: 28vh;
            }
            .img-cuatro, .img-tres{
                display: none;
            }
            .accesorios-novedades__img{
                height: 100px
            }
        
            .main__accesorios-novedades-p{
                display: none;
            }
        }
    }
    footer{
        .footer__form{
            .footer__input{
                width: 80%;
            }
        }
    }
    .map{
        width: 80vw;
        height: 50vh;
    }  
    /*men/women*/
    .title-men-women{
        text-align: center;
        color: $font-color1;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .main__men{
        .box-de-ropa{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            justify-content: center;
            align-content: center;
            gap: 5px;
            .card{
                width: 40vw;
                height: 30vh;    
                background-color: $secondary-color;
                color: $font-color1;
                .img-carrusel-homb-muj{
                    height: 23vh;
                    width: 10vw;
                }
                .subtitle-box , .box-p{
                    display: none;
                }
                .contenedor-btn-compra{
                    text-align: center;
                    align-items: center;
                    .button-comprar{
                        display: none;
                        text-align: center;
                    }
                }
            }
        }
    }
    

    /*shopping cart*/
    .conteiner-card{
        display:flex ;
        flex-direction: column;
        flex-grow:grow;
        .conteiner-card-shopp-cart{
            width: 90vw;
            justify-content: space-around;
            margin: 10px;
            padding: 10px;
            margin-right: 20px;
            .conteiner-card-shopp-cart-img-box{
                .conteiner-card-shopp-cart-img{
                    width: 30vw;
                }
            }
            .conteiner-card-shopp-cart-text{
                .button-eliminar{
                    width: 30vw;
                }
            }
        }
    }
    .boton-comprar-shopp-cart, .boton-vaciar-shopp-cart, .boton-seg-compr-shopp-cart{
        width: 80vw;
    }

    /*about us*/
    .ab-us-img{
        width: 70vw;
    }
    .contenedor-ab-us{
        div{
            .ab-us-contenedor-p{
                width: 70vw;
            }
        }
    }
    /*contact us*/
    section{
        .div-footer{
            .footer__form{
                .footer__input{
                    width: 70%;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    header{
        justify-content: space-between;
    }
    /*main accesorios*/
    main{
        .main__accesorios-novedades{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            .main__accesorios-novedades-p{
                display: none;
            }
        }
    }
    aside{
        .main__accesorios-novedades{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            .main__accesorios-novedades-p{
                display: none;
            }
        }
    }
    /*men women*/
    .title-men-women{
        text-decoration: underline;
    }
    .main__men{
        height: 100%;
        .box-de-ropa{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3,1fr);
            .card{
                height: 50vh;
                width: 40vw;
                .img-carrusel-homb-muj{
                    width: 37vw;
                    height: 35vh;
                }
                .contenedor-btn-compra{
                    display: none;
                }
            }
        }
    }
    /*shopping cart*/
    .conteiner-card{
        display:flex ;
        flex-direction: column;
        .conteiner-card-shopp-cart{
            width: 80vw;
            justify-content: space-around;
            margin: 10px;
            padding: 10px;
            margin-right: 20px;
            align-items: center;
            .conteiner-card-shopp-cart-img-box{
                .conteiner-card-shopp-cart-img{
                    height: 20vh;
                    width: 20vw;
                }
            }
            .conteiner-card-shopp-cart-text{
                a{
                    .button-eliminar{
                        width: 30vw;
                    }
                }
            }
        }
    }
    .boton-comprar-shopp-cart, .boton-vaciar-shopp-cart, .boton-seg-compr-shopp-cart{
        width: 50vw;
    }

    /*about us*/
    .ab-us-contenedor-p{
        width: 80vw;
    }
    /*contact us*/
    section{
        .title-contact-us{
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .div-footer{
            .footer__form{
                .footer__input{
                    width: 50vw;
                    margin-bottom: 3%;
                }
            }
        }
    }
}
@media only screen and (min-width: 1200px){
    .main__accesorios-novedades{
        justify-self: center;
        align-items: center;
        display: flex;
        justify-content: space-around;
        .main__accesorios-novedades-p{
            display: inline;
        }
        .accesorios-novedades__img{
            width: 170px;
            height: 170px;
        }
        .img-cuatro{
            display: none;
        }
    }
    .footer__input{
        width: 500px;
    }
}

