/*import*/
@import "utilidades/variables";
@import "utilidades/listas";
@import "utilidades/mixin";


/* reset de css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}
/*body*/
body{
    background-color: $primary-color;
    color: $font-color1;
}
/*header*/
header{
    .nav-bg{
        background-color: $secondary-color;
        .header-logo{
            width: 10vw;
        }
    }
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .main__img{
        @include medidas(70vw,100vh);
        margin: 10px;
    }
    .contenedor-img-hombre-mujer{
        @include medidas(100vw, 80vh);
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 10px;
        align-items: center;
        justify-content: center;
        .main__img-men-women{
            height: 80vh;
            width: 45vw;        
        }
    }
    .main__accesorios-novedades{
        width: 100%;
        padding: 30px;
        margin: 10px;
        border-radius: 20px;
        background-color: $secondary-color;
        justify-items: center;
        .main__accesorios-novedades-p{
            color: $primary-color;
            font-size: 100px;
            justify-self: center;
        }
        .accesorios-novedades__img{
            height: 200px;
            border-radius: 50px;
            margin: 40px;
        }
    }
}
footer{
    background-color: $third-color;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
    text-align: center;
    .msg-title{
        color: $font-color1;
    }
    .footer__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .footer__label{
            color: $font-color1;
        }
        .footer__input{
            @include medidas(400px,50px);
            margin: 10px;
            border-radius: 10px;
        }
    }
    .derechos{
        background-color: $primary-color;
        padding: 10px;
        text-align: center;
        .derechos__text{
            font-family: cursive;
            font-size: 20px;
        }
    }
    .footer__h3-location{
        color: $font-color1;
        font-size: 50px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer__map{
        align-self: center;
        padding: 10px;
    }
    .footer__img-logo{
        width: 50%;
        align-self: center;
        padding-top: 100px;
    }
}

.menu-lateral{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    position: fixed;
    left: 7px;
    bottom: 200px;
    margin: 5px;
    .menu-lateral-logo{
        width: 50px;
        padding: 5px;
    }
}
/*index end*/

/*about us*/
.contenedor-ab-us{
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    .title-principal-ab-us, .title-secundario-ab-us{
        text-decoration: underline;
        text-align: center;
        color: $font-color1;
    }
    .title-principal-ab-us{
        padding: 30px;
    }
    div .title-secundario-ab-us{
        padding-top: 40px;
    }
    div .ab-us-contenedor-p{
        border-radius: 10px;
        width: 50vw;
        align-items: center;
        justify-content: center;
        margin: 30px;
        padding: 5px;
        margin-top: 5px;
        background-color: $secondary-color;
        color: $font-color1;
        .ab-us-p{
            text-align: center;
        }
    }
}
/*about us ends*/

/*contact us*/
.title-contact-us{
    text-align: center;
    color: $font-color1;
}

.footer__label{
    color: $font-color1;
}
/*contact us ends*/

/*men*/
.title-men-women{
    text-align: center;
    color: $font-color1;
    margin-top: 20px;
    text-decoration: underline;
}
.main__men{
    height: 100vh;
    .box-de-ropa{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 70px;
        row-gap: 30px;
        justify-content: space-between;
        align-content: center;
    }
    .card{
        padding: 5px;
        margin: 10px;
        width: 15vw;
        height: 46vh;    
        background-color: rgb(135, 35, 65);
        color: whitesmoke;    
        text-align: center;    
        border: 2px solid black;
        border-radius: 5%;
    }
}






